<%= link_to 'Chef information', chef_restaurant_path(@restaurant) %>

<h1><%= @restaurant.name %></h1>

<p>
  <%= @restaurant.address %>
</p>

<p>
  <%= @restaurant.description %>
</p>

<p>
  <%= @restaurant.stars %>
</p>

<h2>List of reviews:</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'Add review', new_restaurant_review_path(@restaurant), class: 'btn btn-default' %>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
